{% extends "tasks/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5" style="height: 100%">
    <div class="col-md-4" style="background-color: lightgoldenrodyellow; height: 100%">
        <h3>Backlog</h3>
        {% if tasks %}
            <div class="list-group">
                <a role="button" class="btn btn-primary" href="{% url 'create' %}">Add New Task</a>
                {% for task in tasks %}
                    <a href="{% url 'view_tasks' task.id %}"
                       class="list-group-item list-group-item-action{% if task.important %} list-group-item-danger{% endif %}"><b>{{ task.title }}</b>
                        {% if task.memo %} - {{ task.memo|truncatechars:30 }}{% endif %}</a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2>Looks like you don't have any tasks! Nice work.</h2>
                <br>
                <a role="button" class="btn btn-primary" href="{% url 'create' %}">New Task</a>
            </div>
        {% endif %}
    </div>

    <div class="col-md-4">
        <h3>In progress</h3>
        {% if tasks %}
            <div class="list-group">
                {% for task in tasks %}
                    <a href="{% url 'view_tasks' task.id %}"
                       class="list-group-item list-group-item-action{% if task.important %} list-group-item-danger{% endif %}"><b>{{ task.title }}</b>
                        {% if task.memo %} - {{ task.memo|truncatechars:30 }}{% endif %}</a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2>Start now! Drag your tasks here.</h2>
                <br>
            </div>
        {% endif %}
    </div>

    <div class="col-md-4">
    <h3>Completed</h3>
    {#        <div>{% include 'completed' %}</div>#}

    {% block content1 %}

        <ul>
            {% for task in tasks %}
                <li>
                    <a href="{% url 'view_tasks' task.id %}">
                        {% if task.important %}
                            <b>{% endif %}{{ task.title }}{% if task.important %}</b>
                    {% endif %}
                        {% if task.memo %} - {{ task.memo }}{% endif %}
                        {{ task.datecompleted|date:'M j Y H:i' }}
                    </a>
                </li>
            {% endfor %}
        </ul>

    {% endblock %}


{% endblock %}
