{#{% extends 'tasks/base.html' %}#}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

{% block content %}
    <ul>
        {% for task in tasks %}
            {% if task.progress %}
                <li>
                {% if task.important %}
                    <p><b>{{ task.title }} {% if task.memo %} --- {{ task.memo }}{% endif %}</b></p>
                    {% else %}
                    <p>{{ task.title }} {% if task.memo %} --- {{ task.memo }}{% endif %}</p>
                    {% endif %}
                </li>
            {% endif %}

        {% endfor %}
    </ul>

{% endblock %}
<style>

</style>