{% extends "tasks/base.html" %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row align-items-center">
        <div class="col-md-7 text-left">

            <h1>TaskLab helps teams move work forward.</h1>
            <p>Collaborate, manage projects, organize tasks, and build team spirit-all in one place. Manage projects,
                and reach new productivity peaks. From high rises to the home office, the way your team works is
                unique—accomplish it all with TaskLab.</p>
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Sign up-it's free</a>
        </div>
    </div>

{% endblock %}
