{% extends 'tasks/base.html' %}

{% block content %}
    <br>
    <h3>In Progress Tasks</h3><br>

    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'progress' task.id %}">
                    {% if task.important %}
                        <b>{% endif %}{{ task.title }}{% if task.important %}</b>
                {% endif %}
                    {% if task.memo %} --- {{ task.memo }}{% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
